:root {
  --main: #2a2185;
  --white: #fafafa;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  background-color: var(--white);
}

.simplebar-content-wrapper {
  background-color: var(--main);
}

.sidebar-wrapper {
  background-color: var(--main);
}

.sidebar-wrapper .metismenu ul {
  background-color: var(--main);
  color: var(--white);
  border: none;
}

.topbar {
  border: none !important;
  box-shadow: none !important;
  background-color: var(--white) !important;
}

.daterangepicker .ranges li.active {
  background-color: var(--main) !important;
}

.daterangepicker td.active {
  background-color: var(--main) !important;
  color: #fff !important;
}

.applyBtn {
  background-color: var(--main) !important;
  border: 1px solid var(--main) !important;
}

.cancelBtn {
  background-color: #e00000 !important;
  border: 1px solid #e00000 !important;
  color: #fff !important;
}

.logo-text,
.sidebar-wrapper .metismenu a,
.sidebar-wrapper .metismenu a .parent-icon,
.sidebar-wrapper .metismenu a .menu-title,
.toggle-icon,
.user-info .user-name {
  color: var(--white);
}

.sidebar-wrapper .metismenu .mm-active > a,
.sidebar-wrapper .metismenu a:active,
.sidebar-wrapper .metismenu a:hover {
  text-decoration: none;
  color: var(--main) !important; 
}

.metismenu .has-arrow:after {
  color: var(--main);
}

/* [ ------------------------------------- ] */
/* [ ----------- T I T U L O S ----------- ] */
/* [ ------------------------------------- ] */
.view-title {
  font-size: 22px;
  font-weight: normal !important;
  margin-bottom: 22px;
}

.view-text {
  color: #7128a3;
}

html.dark-theme .view-text {
  color: #f24bf8;
}

.view-border {
  border-color: var(--main) !important;
}

.view-bg {
  background-color: var(--main) !important;
}

.view-bg-light {
  background-color: rgba(141, 65, 191, 0.22) !important;
}

.bg-primary {
  background-color: var(--main) !important;
}

.btn-success {
  color: #fff;
  background-color: #3bdb3b;
  border-color: #3bdb3b;
}

.bg-secondary {
  background-color: #6c757dda !important;
}

.bg-success {
  background-color: #3bdb3b;
}

.modal-title {
  font-size: 18px;
}

.modal-content {
  border-radius: 0.5rem;
}

.view-form {
  margin: 6.8px 0px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--main);
}

td.text-start.dtr-control {
  padding-left: 16px;
}

.back-to-top {
  background-color: var(--main) !important;
}

/* [ ------------------------------------- ] */
/* [ --------- D A T A T A B L E --------- ] */
/* [ ------------------------------------- ] */
.top {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 14px 0;
}

button.btn.btn-secondary.buttons-excel.buttons-html5,
button.btn.btn-secondary.buttons-pdf.buttons-html5 {
  padding: 0 16px;
}

/** Botones de acción DATATABLE */
button.btn.btn-secondary {
  background-color: var(--main) !important;
  font-size: 17px !important;
  border: none;
}

/* button.btn.btn-secondary.buttons-colvis:hover {
   background-color: #4586bc;
   border-color: #3180c5;
} */

/* .view-table > thead {
   background-color: rgba(0, 140, 255, 0.12);
} */

.view-table > thead > tr > th {
  padding: 12px 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0px 0;
}

.page-item.active .page-link {
  background-color: var(--main);
  border-color: var(--main);
}

.page-link {
  color: var(--main);
}

.page-link:hover {
  color: var(--main);
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pace .pace-progress {
  background-color: greenyellow !important;
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    border: solid 3px transparent;
    border-top-color: greenyellow !important;
    border-left-color: greenyellow !important;
    border-radius: 10px;
    -webkit-animation: pace-spinner .4s linear infinite;
    -moz-animation: pace-spinner .4s linear infinite;
    -ms-animation: pace-spinner .4s linear infinite;
    -o-animation: pace-spinner .4s linear infinite;
    animation: pace-spinner .4s linear infinite;
}

/* [ -------------------------------------- ] */
/* [ --------- S W A L  A L E R T --------- ] */
/* [ -------------------------------------- ] */
button.swal2-cancel.swal2-styled {
  background-color: #d33;
}
button.swal2-confirm.swal2-styled {
  background-color: #008cff;
}

label {
  font-size: 14.8px;
}

/* [ ------------------------------------- ] */
/* [ ---------- S E L E C T   2 ---------- ] */
/* [ ------------------------------------- ] */
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 36px !important;
}

.lobibox-notify-msg {
  max-height: 40px !important;
}

.shadow-0 {
  box-shadow: none !important;
}

@media (max-width: 766px) {
  .bottom > .dataTables_info,
  .top > .dt-buttons {
    display: none;
  }

  .user-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #2a2185;
  }

  .nav-link {
    padding: .4rem 0rem;
  }

  .icon-bar {
    font-size: 20px !important;
  }

  .view-title {
    font-size: 20px !important;
  }
}

@media (min-width: 992px) {
  .view-modal {
    max-width: 600px;
  }
}
